<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles/student/advise.css">
    <link rel="icon" type="Acads.png" href="../../static/img/Cardi Icon.png">
    <script>
        const logoutUrl = "{{ url_for('logout') }}";

        function logout() {
            if (confirm('Are you sure you want to logout?')) {
                window.location.href = logoutUrl;
            }
        }
    </script>
</head>

<body>

<header>
    <h1>Academic Advising Registration Form</h1>
</header>

<div class="container">
    <div class="image">
        <img src="../../static/img/mymapua.png" alt="My Image" style="max-width: 150px;">
    </div>

    <form action="{{ url_for('student_register') }}" method="post" required>
        <div class="left">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Dela Cruz, Juan A." value="{{ user.student_name }}"
                   required>
            <br>

            <label for="student-id">Student ID:</label>
            <input type="text" id="student-id" name="student-id" placeholder="2020123456"
                   value="{{ user.student_number }}"
                   required>
            <br>

            <label for="program">Program:</label>
            <input type="text" id="program" name="program" placeholder="Information Technology"
                   value="{{ user.student_program }}" required>
            <br>

            <label for="year">Year:</label>
            <input type="text" id="year" name="year" placeholder="1st" value="{{ user.student_year }}" required>
            <br>
        </div>

        <div class="right">
            <label for="concerns">Select a concern: </label>
            <select name="concerns" id="concerns">
                <option value="" disabled selected>---Choose your area of concern---</option>
                <option value="Billing and payments">Billing and payments</option>
                <option value="Scheduling concern">Scheduling concern</option>
                <option value="Section change">Section change</option>
                <option value="Graduate requirements">Graduate requirements</option>
            </select>
            <label for="concern">Additional Comments:</label>
            <textarea id="concern" name="concern" placeholder="Feedback and suggestions."></textarea>
            <br>
            <br>

            <div class="button-container">
                <input type="reset" class="button" value="Clear All">
                <button type="submit" class="button">Register</button>
            </div>

            <input type="Logout" value="Log Out" onclick="logout()" readonly>
        </div>
    </form>

</div>

</body>

</html>
