<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Queueing List</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles/student/enqueue.css">
    <link rel="icon" type="Acads.png" href="../../static/img/Cardi Icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="headergap">
    <header class="header">
        <img src="../../static/img/mymapua.png" alt="My Image" style="max-width: 150px;">
        <h1>Welcome {{ username }}</h1>
        <p>Mapua Academic Advising</p>
    </header>
</div>

<script>
    const logoutUrl = "{{ url_for('defaultview.logout') }}";

    function logout() {
        if (confirm('Are you sure you want to logout?')) {
            window.location.href = logoutUrl;
        }
    }

    function validateForm() {
        const radios = document.getElementsByName('admin_id');
        let checked = false;
        for (let i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                checked = true;
                break;
            }
        }
        if (!checked) {
            alert('Please select an admin.');
            return false;
        }
        return true;
    }
</script>

<h1>Admin List</h1>
<form action="/student_dashboard" method="post" onsubmit="return validateForm();">
    <!-- Replace with appropriate form action URL -->
    <table id="admin-table">
        <thead>
        <tr>
            <th>Admin Status</th>
            <th>Admin Name</th>
            <th>Queue Count</th>
            <th>Select</th>
        </tr>
        </thead>
        <br>
        <br>
        <tbody>
        {% for admin in admins %}
            <tr {% if admin.status == 'Offline' %}class="disabled"{% endif %}>
                <td style="color: {% if admin.status == 'Offline' %}darkred{% else %}green{% endif %}">{{ admin.status }}</td>
                <td>{{ admin.admin_name }}</td>
                <td>{{ admin.queue_count }}</td>
                <td><input type="radio" name="admin_id" value="{{ admin.admin_id }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- form fields and table -->

    <div id="button-container">
        <a href="#" onclick="logout()">
            <button class="logout">Log Out</button>
        </a>
        <input type="submit" value="Enqueue">
    </div>
</form>
</body>

</html>

