<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Feedback Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/styles/student/feedback.css">
    <link rel="icon" type="Acads.png" href="../../static/img/Cardi Icon.png">
    <script>
        function validateForm() {
            const ratingChecked = document.querySelector('input[name="rating"]:checked');
            const comments = document.getElementById('comments').value;

            if (!ratingChecked) {
                alert('Please select a rating.');
                return false;
            } else if (!comments) {
                alert('Please enter your comments.');
                return false;
            } else {
                logout();
                return true;
            }
        }
    </script>
</head>
<body>

<div class="container">

    <div class="header">
        <img src="../../static/img/mymapua.png" alt="Logo">
        <h1>Feedback Form</h1>
        <p>Let us know how we're doing!</p>
    </div>

    <div class="feedback-form">
        <form method="POST" action="{{ url_for('studentview.feedback') }}" onsubmit="return validateForm();">
            <label for="rating">How was your experience?</label>
            <div class="smiley-container">
                <input type="radio" name="rating" value="excellent" id="excellent">
                <label class="smiley" for="excellent">&#128522;</label>
                <input type="radio" name="rating" value="good" id="good">
                <label class="smiley" for="good">&#128516;</label>
                <input type="radio" name="rating" value="ok" id="ok">
                <label class="smiley" for="ok">&#128528;</label>
                <input type="radio" name="rating" value="poor" id="poor">
                <label class="smiley" for="poor">&#128542;</label>
                <input type="radio" name="rating" value="terrible" id="terrible">
                <label class="smiley" for="terrible">&#128549;</label>
            </div>
            <label for="comments">Comments:</label>
            <textarea name="comments" id="comments" rows="5"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<a href="#" id="faq-button">
    <img class="widget-button" src="../../static/img/faq.png" alt="Clickable Widget Button">
</a>

<div id="popup">
    <h2>FAQ</h2>
    <p>
    <div>
        <center>Step-by-step process of academic advising</center>
    </div>
    <br>The Mapuan academic advising is a web application dedicated to resolving enrollment concerns of currently
    enrolled Mapuan students. This includes scheduling concerns, missing requirements, document requests, grade changes,
    section changes, and more.
    <br>
    <br>1. Log in to the Mapuan Advising website using your MyMapua e-mail address and password
    <br>
    <br>2. Select which professor you choose to resolve your problem (You may also see their queue line).
    <br>
    <br>3. After selecting the professor, fill out the details on the advising request form.
    <br>
    <br>4. There would be an SMS confirmation sent to your mobile phone.
    <br>
    <br>5. Patiently wait for your turn for the academic advising.
    <br>
    <br>6. When it’s your turn, click the Zoom link to be redirected to the Zoom meeting of the assigned professor.
    <br>
    <br>7. After your academic advising, give us feedback on your experience using the website.</p>
    <button id="close-button">Close</button>
</div>

<script>
    const faqButton = document.querySelector('#faq-button');
    const popup = document.querySelector('#popup');
    const closeButton = document.querySelector('#close-button');

    faqButton.addEventListener('click', function () {
        popup.style.display = 'block';
    });

    closeButton.addEventListener('click', function () {
        popup.style.display = 'none';
    });
</script>

</body>
</html>
