<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Link</title>
    <link rel="stylesheet" href="../../static/styles/student/zoomstyle.css">
    <script>
        const logoutUrl = "{{ url_for('logout') }}";

        function logout() {
            if (confirm('Are you sure you want to logout? You will be kicked out of the queue.')) {
                window.location.href = logoutUrl;
            } else
                return false;

        }
    </script>
</head>

<body>

<header>
    <h1 class="head">Welcome, {{ username }}!</h1>
</header>

<div class="container">
    <div class="image">
        <img src="../../static/img/mymapua.png" alt="My Image" style="max-width: 150px;">
    </div>

    <div class="TableHead">
        <h2>System Status</h2>
    </div>

    <div class="grid-containertable">
        <div class="grid-item-table">
            <h2>Total in Queue</h2>
            <p class="table-data">{{ total_queue_entries }}</p>
        </div>

        <div class="grid-item-table">
            <h2>Adviser in Charge</h2>
            <p class="table-data">{{ adviser_in_charge }}</p>
        </div>

        <div class="grid-item-table ">
            <h2>Queue Code</h2>
            <p class="table-data">MU0016</p>
        </div>
    </div>

    <div class="grid-container2">
        <div class="grid-item"><a href="https://zoom.us/j/94678770175?pwd=Qm5wMG5XMHAwL3NudC9yb3E4R0xUZz09"
                                  class="button">Zoom Link:</a></div>
        <div class="grid-item"><p class="link"><b>Click here:</b> <a
                href="{{ zoom_link }}">
            {{ zoom_link }}</a></p></div>
        <div class="grid-item"><a href="#" onclick="logout()" class="button">Log Out</a></div>
    </div>
</div>
</body>
</html>

