<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Link</title>
    <link rel="stylesheet" href="../../static/styles/student/zoomstyle.css">
    <link rel="icon" type="Acads.png" href="../../static/img/Cardi Icon.png">
    <script>
        const logoutUrl = "{{ url_for('logout') }}";
        const dummyUrl = "{{ url_for('dummy_zoom') }}";

        function logout() {
            if (confirm('Are you sure you want to logout? You will be kicked out of the queue.')) {
                window.location.href = logoutUrl;
            } else
                return false;

        }

        setInterval(function () {
            $.ajax({
                url: '{{ url_for("student_register") }}',
                type: 'GET',
                success: function (data) {
                    var queue_count = data.queue_count;
                    var queue_order = data.queue_order;
                    var adviser_in_charge = data.adviser_in_charge;
                    var queue_status = data.queue_status;

                    // Update the content of the page with the new data
                    $('#queue-count').text(queue_count);
                    $('#queue-order').text(queue_order);
                    $('.adviser-in-charge').text(adviser_in_charge);

                    if (queue_order === 1) {
                        window.location.href = dummyUrl;
                    }
                }
            });
        }, 500); // send request every 0.5 seconds


        // function that checks the queue status every 5 seconds
        function checkQueueStatus() {
            // make a GET request to the server to get the current queue status
            fetch('/get_queue_status')
                .then(response => response.json())
                .then(data => {
                    // check if the queue status has changed to "Fulfilled"
                    if (data.queue_status === 'Fulfilled') {
                        // redirect to the feedback page
                        window.location.href = '/feedback';
                    }
                })
                .catch(error => console.error(error));
        }

        // call the checkQueueStatus function every 5 seconds
        setInterval(checkQueueStatus, 500);
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<header>
    <h1 class="head">Welcome, {{ username }}!</h1>
</header>

<div class="container">
    <div class="image">
        <img src="../../static/img/mymapua.png" alt="My Image" style="max-width: 150px;">
    </div>

    <div class="TableHead">
        <h2>System Status</h2>
    </div>

    <div class="grid-containertable">
        <div class="grid-item-table">
            <h2>Total in Queue</h2>
            <p id="queue-count" class="table-data"></p>
        </div>

        <div class="grid-item-table">
            <h2>Adviser in Charge</h2>
            <p class="table-data">{{ adviser_in_charge }}</p>
        </div>

        <div class="grid-item-table ">
            <h2>Position in Queue</h2>
            <p id="queue-order" class="table-data"></p>
        </div>
    </div>


    <div class="grid-container2">
        <div class="grid-item"><a href="#"
                                  class="button">Zoom Link:</a></div>
        <div class="grid-item">
            <h3>
                <div class="queue-tag">Please wait for your turn</div>
            </h3>
        </div>

        <div class="grid-item"><a href="#" onclick="logout()" class="button">Log Out</a></div>

    </div>

    <a href="#" id="faq-button">
        <img class="widget-button" src="../../static/img/faq.png" alt="Clickable Widget Button">
    </a>

    <div id="popup">
        <h2>FAQ</h2>
        <p>
        <div>
            <center>Step-by-step process of academic advising</center>
        </div>
        <br>The Mapuan academic advising is a web application dedicated to resolving enrollment concerns of currently
        enrolled Mapuan students. This includes scheduling concerns, missing requirements, document requests, grade
        changes, section changes, and more.
        <br>
        <br>1. Log in to the Mapuan Advising website using your MyMapua e-mail address and password
        <br>
        <br>2. Select which professor you choose to resolve your problem (You may also see their queue line).
        <br>
        <br>3. After selecting the professor, fill out the details on the advising request form.
        <br>
        <br>4. There would be an SMS confirmation sent to your mobile phone.
        <br>
        <br>5. Patiently wait for your turn for the academic advising.
        <br>
        <br>6. When it’s your turn, click the Zoom link to be redirected to the Zoom meeting of the assigned professor.
        <br>
        <br>7. After your academic advising, give us feedback on your experience using the website.</p>
        <button id="close-button">Close</button>
    </div>

    <script>
        const faqButton = document.querySelector('#faq-button');
        const popup = document.querySelector('#popup');
        const closeButton = document.querySelector('#close-button');

        faqButton.addEventListener('click', function () {
            popup.style.display = 'block';
        });

        closeButton.addEventListener('click', function () {
            popup.style.display = 'none';
        });
    </script>

</div>

</body>
</html>

