* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

body {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container{
    width: 100%;
    margin-top: 9%;
}

body::after {
	content: '';
	display: block;
	position: fixed;
	width: 100%;
	height: 20px;
	background-color: #DA4242;
}

body::after {
	bottom: 0;
}

/* Header Styles */
.header {
    width: 100%;
	background-color: #DA4242;
	padding-top: 1%;
    padding-bottom: 2%;
	text-align: center;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

/* CSS styles for the logo */
.header img {
	width: 80%;
	max-width: 100px;
	height: 80%;
	position: absolute;
	top: 5px;
	left: 5%;
	transform: translateX(-50%);
	z-index: 1; /* Set a lower z-index value */
}

.header::after {
	content: '';
	position: absolute;
	bottom: 15px;
	left: -0.1%; /* Adjust this value to move the line to the right or left */
	width: 101%;
	height: 15px;
	background-color: #FFD700;
	z-index: 0; /* Set a higher z-index value */
}

.header h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}











































section{
    margin-left: 1;
    align-items: center;
    justify-content: center;
}

.queuehead{
    color: white;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.queueheader{
    font-size: 35px;
    padding: 20px;
}

.tcontainer{
    width: 90%;
    margin: 5px auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
}

.livequeue{
    width: 90%;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
    color: #333;
    background-color: white;
    margin: 0 auto; /* Add this line */
}

.list {
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid #ccc;
}
/* Grey out rows after the first two rows */
.list .row:not(:first-child):not(:nth-child(2)) {
    opacity: 0.5;
}

/* Set pointer events to none for greyed out rows */
.list .row:not(:first-child):not(:nth-child(2)) * {
    pointer-events: none;
}

.column {
    font-size: 18px;
    flex: 1;
    text-align: center;
}

.column-header{
    font-size: 25px;
    flex: 1;
    text-align: center;
    text-decoration: solid;
}

select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

#button-container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.button-out {
    color: #000000;
    background-color: #FFD700;
    padding: 15px 110px;
    border: none;
    border-radius: 500px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1px;
    transition: background-color 0.3s ease-in-out;
}

.button-out:hover {
    background-color: #f7d563;
}

/* CSS for the Register button */
.button-register {
    color: #000000;
    background-color: #FFD700;
    padding: 15px 110px;
    border: none;
    border-radius: 500px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1px;
    transition: background-color 0.3s ease-in-out;
}

.button-register:hover {
    background-color: #f7d563;
}

.check-button, .x-button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    margin-right: 10px;
}

.check-button:hover, .x-button:hover {
    cursor: pointer;
    color: green;
}