<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/admin/editzoom.css">
    <title>Edit Dashboard</title>
    <script>
        const logoutUrl = "{{ url_for('logout') }}";

        function logout() {
            if (confirm('Are you sure you want to logout?')) {
                window.location.href = logoutUrl;
            } else {
                return false;
            }
        }
    </script>
</head>
<body>

<!-- Header -->
<div>
    <header class="header">
        <img src="../../static/img/mymapua.png" alt="Logo">
        <h1>Welcome, {{ username }}</h1>
        <p>Mapua Academic Advising</p>
    </header>
    <script>
        function enableEditingAdvisor8() {
            var editableText = document.getElementById("editNameAdvisor8");
            editableText.contentEditable = true;
            editableText.focus();
        }

        function enableeditZoomLink8() {
            var editableText = document.getElementById("editZoom8");
            editableText.contentEditable = true;
            editableText.focus();
        }
    </script>
</div>

<!-- Section Headers -->

<div class="body-container">
    <div class="wrapper">
        <div class="box">
            <h2>Current Advisors</h2>
        </div>
        <div class="box">
            <h2>Zoom Link</h2>
        </div>
        <div class="box">
            <h2>Status</h2>
        </div>
    </div>
    <div class="tcontent">
        <section class="livequeue">
            <div class="list">

                {% for admin in admins %}
                    <div class="row">
                        <div class="column1">
                            <div class="namecontainer">
                                <p id="editNameAdvisor8">{{ admin.admin_name }}</p>
                            </div>
                            <div class="editname">
                                <button class="editnamebutton" onclick="enableEditingAdvisor8()"></button>
                            </div>
                        </div>
                        <div class="column2">
                            <p id="editZoom8"><a href="{{ admin.zoom_link }}">
                                {{ admin.zoom_link }}</a></div>
                        <button class="editlink" onclick="enableeditZoomLink8()"></button>


                        <div class="column3">
                            {% if admin.status == 'Offline' %}
                                <p style="color: darkred">{{ admin.status }}</p>
                            {% elif admin.status == 'Online' %}
                                <p style="color: green">{{ admin.status }}</p>
                            {% else %}
                                <p>{{ admin.status }}</p>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}

            </div>
        </section>
    </div>

    <div id="button-container">
        <a href="{{ url_for('feedback_dashboard') }}">
            <button class="button-feedback">Feedback</button>
        </a>
        <a href="{{ url_for('admin_dashboard') }}">
            <button class="button-register">Queueing list</button>
        </a>
        <a href="#" onclick="logout()">
            <button class="button-out">Log Out</button>
        </a>
    </div>
</div>

</body>
</html>