<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/admin/Feedback-Admin.css">
    <title>Admin-Feedback</title>
</head>
<body>
    
    <div>
        <header class="header">
            <img src="../../static/img/mymapua.png" alt="Logo">
            <h1>Welcome *admin name,*</h1>
            <p>Mapua Academic Advising</p>
        </header>
    </div>

    <div class="feedback-form">
        <form>
            <label for="rating">Student Feedback</label>
                <div class="smiley-container">
                    <div class="grid-container">
                        <div class="grid-item-table">
                            <label class="smiley" for="excellent">&#128522;</label>
                            <p class="table-data">200 Students</p>
                        </div>
                        <div class="grid-item-table">
                            <label class="smiley" for="good">&#128516;</label>
                            <p class="table-data">149 Students</p>
                        </div>
                        <div class="grid-item-table ">
                            <label class="smiley" for="ok">&#128528;</label>
                            <p class="table-data">70 Students</p>
                        </div>
                        <div class="grid-item-table ">
                            <label class="smiley" for="poor">&#128542;</label>
                            <p class="table-data">31 Students</p>
                        </div>
                        <div class="grid-item-table ">
                            <label class="smiley" for="terrible">&#128549;</label>
                            <p class="table-data">12 Students</p>
                        </div>
                    </div>
                </div>
            <label for="comments">Comments:</label>
                <div class="grid-container1">
                    <div class="grid-item-comment">
                        <h4>Juan Dela Cruz</h4>
                        <p>Very Responsive and Convinient</p>
                    </div>
                    <div class="grid-item-comment">
                        <h4>Juan Dela Cruz</h4>
                        <p>Can Be easily accessed from my mobile phone.</p>
                    </div>
                    <div class="grid-item-comment">
                        <h4>Juan Dela Cruz</h4>
                        <p>Brilliant! my concerns were addressed immediately!</p>
                    </div>
                    <div class="grid-item-comment">
                        <h4>Juan Dela Cruz</h4>
                        <p>Thank You, my schedule was fixed!</p>
                    </div>
                </div>
            <div class="button-container"></div>
            <a href="index.html" class="button-logout">Log Out</a>
        </form>
    </div>
</body>
</html>