<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/admin/Feedback-Admin.css">
    <title>Admin-Feedback</title>
    <script>
        const logoutUrl = "{{ url_for('logout') }}";

        function logout() {
            if (confirm('Are you sure you want to logout?')) {
                window.location.href = logoutUrl;
            } else
                return false;

        }
    </script>
</head>
<body>

<div>
    <header class="header">
        <img src="../../static/img/mymapua.png" alt="Logo">
        <h1>Welcome, {{ username }}</h1>
        <p>Mapua Academic Advising</p>
    </header>
</div>

<div class="feedback-form">
    <form>
        <label for="rating">Student Feedback</label>
        <div class="smiley-container">
            <div class="grid-container">
                <div class="grid-item-table">
                    <label class="smiley" for="excellent">&#128522;</label>
                    <p class="table-data">{{ excellent }} {{ 'Student' if excellent == 1 else 'Students' }}</p>
                </div>
                <div class="grid-item-table">
                    <label class="smiley" for="good">&#128516;</label>
                    <p class="table-data">{{ good }} {{ 'Student' if good == 1 else 'Students' }}</p>
                </div>
                <div class="grid-item-table ">
                    <label class="smiley" for="ok">&#128528;</label>
                    <p class="table-data">{{ fair }} {{ 'Student' if fair == 1 else 'Students' }}</p>
                </div>
                <div class="grid-item-table ">
                    <label class="smiley" for="poor">&#128542;</label>
                    <p class="table-data">{{ poor }} {{ 'Student' if poor == 1 else 'Students' }}</p>
                </div>
                <div class="grid-item-table ">
                    <label class="smiley" for="terrible">&#128549;</label>
                    <p class="table-data">{{ terrible }} {{ 'Student' if terrible == 1 else 'Students' }}</p>
                </div>

            </div>
        </div>
        <label for="comments">Comments:</label>
        <div class="grid-container1">
            {% for feedback_entry in feedback_entries %}
                <div class="grid-item-comment">
                    <h4>{{ feedback_entry.student.student_name }}</h4>
                    <p>{{ feedback_entry.feedback }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="button-container"></div>
        <a href="#" onclick="logout()" class="button-logout">Log Out</a>
        <a href="{{ url_for('edit_zoom') }}" class="button-logout">Back</a>
    </form>
</div>
</body>
</html>