<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/admin/Feedback-Student.css">
    <title>Student-Feedback</title>
</head>
<body>
    
    <div>
        <header class="header">
            <img src="../../static/img/mymapua.png" alt="Logo">
            <h1>Welcome *admin name,*</h1>
            <p>Mapua Academic Advising</p>
        </header>
    </div>

    <div class="feedback-form">
        <form>
            <label for="rating">How was your experience?</label>
            <div class="smiley-container">
                <input type="radio" name="rating" value="excellent" id="excellent">
                <label class="smiley" for="excellent">&#128522;</label>
                <input type="radio" name="rating" value="good" id="good">
                <label class="smiley" for="good">&#128516;</label>
                <input type="radio" name="rating" value="ok" id="ok">
                <label class="smiley" for="ok">&#128528;</label>
                <input type="radio" name="rating" value="poor" id="poor">
                <label class="smiley" for="poor">&#128542;</label>
                <input type="radio" name="rating" value="terrible" id="terrible">
                <label class="smiley" for="terrible">&#128549;</label>
            </div>
            <label for="comments">Comments:</label>
            <textarea name="comments" id="comments" rows="5"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>