<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/admin/livelist-admin.css">
    <title>Admin Current Queue list</title>
</head>

<body>
    <div class="body-container">
        <header class="header">
            <img src="/Img/mymapua.png" alt="Logo">
            <h1>Welcome *admin name,*</h1>
            <p>Mapua Academic Advising</p>
        </header>
        <div>
            <div class="queuehead">
                <h2 class="queueheader">Live Queue</h2>
            </div>
        <div class="tcontainer">
            <section class="livequeue">     
                <div class="list">
                    <div class="row">
                        <div class="column-header"><b>Name</b></div>
                        <div class="column-header"><b>Year and Program</b></div>
                        <div class="column-header"><b>Status</b></div>
                    </div>

                <div class="row">
                <div class="column">Timmy Turner</div>
                <div class="column">2nd Year - BSIT</div>
                <div class="column">
                        <select>
                            <option value="option">--Select Status--</option>
                            <option value="option1"> In Meet </option>
                            <option value="option2"> Waiting </option>
                            <option value="option3"> Fulfilled </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                <div class="column">Kobe Bryant</div>
                <div class="column">1st Year - BSCS</div>
                    <div class="column">
                        <select>
                            <option value="option">--Select Status--</option>
                            <option value="option1"> In Meet </option>
                            <option value="option2"> Waiting </option>
                            <option value="option3"> Fulfilled </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                <div class="column">Steph Curry</div>
                <div class="column">3rd Year - BSIT</div>
                    <div class="column">
                        <select>
                            <option value="option">--Select Status--</option>
                            <option value="option1"> In Meet </option>
                            <option value="option2"> Waiting </option>
                            <option value="option3"> Fulfilled </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                <div class="column">Steph Curry</div>
                <div class="column">3rd Year - BSIT</div>
                    <div class="column">
                        <select>
                            <option value="option">--Select Status--</option>
                            <option value="option1"> In Meet </option>
                            <option value="option2"> Waiting </option>
                            <option value="option3"> Fulfilled </option>
                        </select>
                      </div>
                    </div>

                <div class="row">
                <div class="column">Steph Curry</div>
                <div class="column">3rd Year - BSIT</div>
                    <div class="column">
                        <select>
                            <option value="option">--Select Status--</option>
                            <option value="option1"> In Meet </option>
                            <option value="option2"> Waiting </option>
                            <option value="option3"> Fulfilled </option>
                        </select>
                      </div>
                    </div>
                
                <div class="row">
                <div class="column">Steph Curry</div>
                <div class="column">3rd Year - BSIT</div>
                    <div class="column">
                        <select>
                            <option value="option">--Select Status--</option>
                            <option value="option1"> In Meet </option>
                            <option value="option2"> Waiting </option>
                            <option value="option3"> Fulfilled </option>
                        </select>
                      </div>
                    </div>
                
                <div class="row">
                <div class="column">Steph Curry</div>
                <div class="column">3rd Year - BSIT</div>
                    <div class="column">
                        <select>
                            <option value="option">--Select Status--</option>
                            <option value="option1"> In Meet </option>
                            <option value="option2"> Waiting </option>
                            <option value="option3"> Fulfilled </option>
                        </select>
                      </div>
                    </div>

                <div class="row">
                <div class="column">Steph Curry</div>
                <div class="column">3rd Year - BSIT</div>
                    <div class="column">
                        <select>
                            <option value="option">--Select Status--</option>
                            <option value="option1"> In Meet </option>
                            <option value="option2"> Waiting </option>
                            <option value="option3"> Fulfilled </option>
                        </select>
                      </div>
                    </div>

                </div>
            </section>
        </div>
            
        
        <div id="button-container">
            <button class="button-out" onclick="document.location='index.html'">Log Out</button>
            <button class="button-register" onclick="document.location='advising.html'">Go to Profile</button>
        </div>
    </div>
</div>
</body>
</html>