* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

.topheader{
    width: 100%;
    height: 120px;
    display: block;
}

.headergap{
    margin-top: 150px;
}

/* Styles */

body {
    width: 100%;
    background-color: #333333;
    align-items: center;
    justify-content: center;
}

body::after {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 20px;
    background-color: #DA4242;
}

body::after {
    bottom: 0;
}

/* Header CSS */

.header {
    width: 100%;
    background-color: #DA4242;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*logo CSS*/

.header img {
    width: 100%;
    max-width: 150px;
    height: 90%;
    position: absolute;
    top: 10px;
    left: 10%;
    transform: translateX(-50%);
    z-index: 1; /* Set a lower z-index value */
}

.header::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: -0.1%; /* Adjust this value to move the line to the right or left */
    width: 101%;
    height: 15px;
    background-color: #FFD700;
    z-index: 0; /* Set a higher z-index value */
}

.header h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: #fff;
}

/*Table CSS*/

table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    background-color: #fff;
}

th {
    background-color: #BEBEBE;
    text-align: center;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

input[type="radio"] {
    margin: 0;
    vertical-align: middle;
}

.widget-button {
    position: fixed;
    bottom: 77%;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    width: 90px; /* change this to your desired width */
    height: 90px; /* change this to your desired height */
    margin-bottom: -30px;
}

  #popup {
    display: none;
    position: fixed;
    font-size: 19px; color: rgb(255, 255, 255);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #DA4242;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  #close-button {
    position: fixed;
    top: 93%;
    right: 1px;
    margin: 0 20px;
    color: #000000;
    background-color: #FFD700;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }


h2{
    color: rgb(255, 255, 255);
}

/*Buttons CSS*/
#button-container{
    justify-content: center; /* Center the buttons horizontally */
    display: flex;
    height: 120px;
    align-items: center;
    text-align: center;
}

input[type="submit"] {
    margin: 0 20px;
    color: #000000;
    background-color: #FFD700;
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.logout{
    margin: 0 20px;
    color: #000000;
    background-color: #FFD700;
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/*Button hover CSS*/
input[type="submit"]:hover {
    background-color: #f7d563;
}

.logout:hover{
    background-color: #f7d563;
}

