<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="styles/advise.css">
  </head>

  <body>

    <header>
      <h1>Academic Advising Registration Form</h1>
    </header>

          <form action="#" method="post">
            <div class="left">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" placeholder="Dela Cruz, Juan A.">
              <br>

              <label for="student-id">Student ID:</label>
              <input type="text" id="student-id" name="student-id" placeholder="2020123456">
              <br>

              <label for="program">Program:</label>
              <input type="text" id="program" name="program" placeholder="Information Technology">
              <br>

              <label for="year">Year:</label>
              <input type="text" id="year" name="year" placeholder="1st">
              <br>
            </div>

            <div class="right">
              <label for="concern">Concern:</label>
              <textarea id="concern" name="concern" placeholder="I have schedule conflicts."></textarea>
              <br>
              <br>

              <input type="reset" value="Clear All">


              <div class="button-container">
                <a href="index.html" class="button">LogOut</a>
                <a href="zoom.html" class="button">Register</a>
              </div>

            </div>
          </form>


  </body>

</html>