<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="../static/styles/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="Acads.png" href="../static/styles/style.css">
</head>

<body>

{% if error %}
    <p class="error"><strong>Incorrect password!</strong></p>
{% endif %}

<div class="container">
    <header>
        <div class="head">
            <img src="../static/img/bg.png" alt="head" class="responsive">
        </div>
    </header>

    <div class="logo">
        <img src="../static/img/Acads.png" alt="Logo" class="responsive">
    </div>

    {#    flash the login error#}

    <div class="login-form">
        <form action="/login" method="post">

            <input type="text" placeholder="Email" name="email" required>


            <input type="password" placeholder="Password" name="password" required>


            <button type="submit" value="Login" style=" ">Log In</button>


            <div class="forgot-password">
                <a href="#">Forgot password?</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
