<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    {% if current_user.is_authenticated %}
        {% if current_user.student_number %}
            <h1>Welcome, {{ current_user.student_name }}!</h1>
            {# FIXME: greeting for admin not showing #}
        {% elif current_user.admin_number %}
            <h1>Welcome, Admin!</h1>
        {% endif %}
    {% else %}
        <h1>Welcome to Our Website!</h1>
    {% endif %}
    <p>Mapuan Queueing System</p>
</header>
</body>
</html>