<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Queueing List</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/student/welcome.css">
    <script>
        const logoutUrl = "{{ url_for('logout') }}";

        function logout() {
            if (confirm('Are you sure you want to logout?')) {
                window.location.href = logoutUrl;
            }
        }
    </script>
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close btn-close-black float-end" data-bs-dismiss="alert"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container">
    <header class="header">
        <img src="../static/img/mymapua.png" alt="Logo">
        {% if current_user.student_number %}
            <h1>Welcome, {{ username }}!</h1>
            <p>You are logged in as a student.</p>
        {% else %}
            <h1>Welcome, {{ username }}!</h1>
            <p>You are logged in as an admin.</p>
        {% endif %}
        <p>Mapuan Queueing System</p>
    </header>

    <section class="queueing-list">
        <h2>Queueing List</h2>
        <div class="list">
            <div class="list-item">
                <div class="column-header">Name</div>
                <div class="column-header">Year</div>
                <div class="column-header">Program</div>
                <div class="column-header">Status</div>
            </div>
            <div class="list-item">
                <div class="column-value">John Doe</div>
                <div class="column-value">3rd</div>
                <div class="column-value">Computer Science</div>
                <div class="column-value">Pending</div>
            </div>
        </div>
    </section>

    <div id="button-container">
        <a href="#" onclick="logout()">
            <button class="button-out">Log Out</button>
        </a>
        <a href="{{ url_for('student_register') }}">
            <button class="button-register">Register</button>
        </a>
    </div>
</div>
</body>

</html>