<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom links</title>
    <link rel="stylesheet" href="styles/zoomstyle.css">
</head>
<body style="background-color: #333333;">
    <div class="Welcome">
        <p class="welcome-name">Welcome Juan Dela Cruz!
        <span class="MQS" style="float:right;">Mapua Queueing System</span>
        </p>
    </div>
<br>
<br>
<br>
<br>
    <div id="outer-div">
        <div id="inner-div">
            <table>
            <tr>
                <th class="th1">Queue Total</th>
                <th class="th2">Adviser in Charge</th>
                <th class="th3">Queueing Code</th>
            </tr>
              
            <tr>
                <td class="QueueTotal">14</td>
                <td class="Adviser-in-charge">Tyler Herro</td>
                <td class="Queue-ID">MU0016</td>
            </tr>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="flex-container">
        <div class="flex-child">
            <div class="Buttons">
                <button class="Logout" onclick="document.location='index.html'">Log Out</button>
                <button class="zoom-link" role="button">Zoom Link: </button>
            </div>
        </div>
        <div class="flex-child">
            <p class="zoom">https://zoom.us/j/94678770175?pwd=Qm5wMG5XMHAwL3NudC9yb3E4R0xUZz09</p>
        </div>
    </div>
</body>
<footer>
</footer>
</html>